name: Publish
on:
  push:
    branches:
      - main
jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
          scope: "@Flashfoodco"
      - run: npm ci
        working-directory: javascript
      - run: npm publish
        working-directory: javascript
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
